* {
    box-sizing: border-box;
}

body{
    background-color:#051733;
    color:white;
}

#index{
    height:100vh;
}


.logo{
    height:50px;
    width:100%;
}
.microphone{
    width:auto;
    height:50%;
}