* {
    box-sizing: border-box;
}

body{
    background-color:#051733;
    color:white;
}

#index{
    
}


.logo{
    height:50px;
    width:100%;
}
.microphone{
    height: 100%;
    width: auto;
    background-size: 100%;
}